<form autocomplete="off">
    <div class="form-group">
        <label>Creature Capacity Label</label>
        <input type="checkbox" name="renameCreatureCapacity" {{checked renameCreatureCapacity}}>
        <p class="notes">On Tidy5e vehicle sheets, show Module Capacity instead of Creature Capacity.</p>
    </div>

    <div class="form-group">
        <label>Features Label</label>
        <input type="checkbox" name="renameFeaturesToShipFunctions" {{checked renameFeaturesToShipFunctions}}>
        <p class="notes">On Tidy5e vehicle sheets, show Ship Functions instead of Features.</p>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit">
            <i class="fas fa-save"></i> Save
        </button>
    </footer>
</form>
